.tabs-container {
    padding: 10px;
}

.header {
 display: flex;
 justify-content: center;
 margin-bottom: 12px;
}

.item {
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background: #1d3d1d;
    color: goldenrod;
}

.item.active {
    border-color: #1d3d1d;
    background: goldenrod;
    color: #000;
}

.content {
    padding: 20px 10px;
    overflow: auto;
}